
<div class="row row-cols-lg-4">
 <% @wigs.each do |wig| %>
    <div class="card m-2">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5><%= wig.name %></h5>
            <p class="card-text"><%= wig.description %></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
 <% end %>
</div>
