<div class="row row-cols-lg-4 d-flex justify-content-center">
 <% @wigs.each do |wig| %>
    <div class="card m-2">
        <%= cl_image_tag wig.photo.key, height: 300, width: 300, crop: :fill %>
          <div class="card-body">
              <h3 class="fs-3 text fw-bold"><%= wig.name.capitalize %></h3>
              <%= link_to "+", wig_path(wig), class: "rounded-3 btn btn-outline-dark" %>
              <p class="fs-3 d-flex justify-content-end align-items-center"> <%= wig.renting_price %>€</p>
          </div>
    </div>
 <% end %>
</div>
