<div class= "container">
    <div class="col-12 d-flex">
    <div class= "name_&_photo" >
      <%= image_tag @wig.photo,width:300 %>
    </div>
    <div class="card_infos_wigs align-items-center">
        <p> <%= @wig.description %> </p>
        <p><strong>Couleur : </strong> <%= @wig.color %> </p>
        <p><strong>Description : </strong><%= @wig.renting_price %> €/jour</p>
      </div>
    </div>
</div>


