<%# navbar %>
<%# blablanner%>
<div class="banner"  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))"
<%= image_tag "WigsShophomepage.jpg"  %>
>
</div>

    <div class="container"><h1>Hair <strong> Bold and Brave </strong>!</h1>
    <div class="hometextep"><p>Atelier de fabrication et de location de perruques pour le cinéma, la mode, le spectacle vivant et la dignité.</p>
    <p>Cliquez ci-dessous pour explorer nos moumoutes </p>  </div></div>
  <div class="d-flex justify-content-center">
  <%= link_to "Here wig go ! ", "#", class: "btn btn-gradient btn-lg mt-4" %>
</div>





<%# simpleform btn-primary %>
