

.btn-homepage {
  color: black;
  padding: 20px 100px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  transition: background 0.3s ease;
  border: 1px solid black;
  margin: 10px;
}

.btn-homepage:hover {
  background: $pink;
  border: 1px solid black;
}
