.btn-pink{
  color: black;
  padding: 10px;
  border-radius: 20px;
  background: white;
  transition: background 0.3s ease;
  border: 1px solid black;
  margin: 10px;

  &:hover{
    background: $pink;
    border: 1px solid white;
  }
}

.btn-pink2{
  color: black;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  background: white;
  transition: background 0.3s ease;
  border: 1px solid black;
  margin: 10px;

  &:hover{
    background: $pink;
    border: 1px solid white;
  }
}
