.footer {
  background: white;
  height: 100px;
  padding: 20px 20px;
  color: black;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}
.footer-links a {
  color: $pink;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: $pink;
}
