.navbar-hairbnb {
  background: white;
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.navbar-hairbnb .navbar-brand img {
  width: 60px;
}

.navbar-hairbnb .navbar-collapse {
  flex-grow: 0;
}
