.container_form{
  background-color: $light-gray;

  .btn-essential{
    color: black;
    padding: 15px;
    border-radius: 20px;
    background: white;
    transition: background 0.3s ease;
    border: 1px solid black;
    margin: 10px;
    align-items: center;

    &:hover{
      background: $pink;
      border: 1px solid white;
    }
  }

  h3{
    text-align: center;
    padding-bottom: 15px;
    margin:10px;
  }

  .label{
    padding-top: 4px;
  }
}
