.my-bookings {
  background-color: #e9ecef;

  h3{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
  }

  .wrapper-product-booking {
    align-items: center;
    margin: 50px;
    border-radius: 7px;

  .card-iterated{
    padding-bottom: 5px;
    padding-top: 5px;
    height: 150px;
    margin-bottom: 15px;
    background-color: white;
    display: flex;
    align-items: center;
  }

    img {
      height: 125px;
      width: 125px;
      object-fit: cover;
      align-items: center;
    }
    p {
      font-size: 16px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
    }
    .card-product-infos {
      padding: 16px;
    }
  }
}
