.container_wig {
  // flex-grow: 0;
  height: 600px;
  justify-content: space-around;
  align-items: center;
  display: flex;

  .image_tag{
    margin: 20px;
  }

  .name_photo_desc{
    background-color: white;
    width: 400px;
    padding: 15px;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .card_infos_wigs{
    padding-top: 10px;

  }
  p{
    padding: -5px;
  }
}
